* {
	box-sizing: border-box;
}

body {
	font-family: "Roboto", sans-serif;
}

a:visited, a, a:link, a:active, a:hover {
	color: #376fc0;
	text-decoration: none;
	cursor: pointer;
}
a:active, a:hover {
	text-decoration: underline;
}

/* Buttons + input */
input[type="submit"], #popup-modal button {
	background-color: #1b365d;
	padding: 5px 10px;
	border: 0;
	color: white;
	cursor: pointer;
	min-width: 80px;
	transition: background-color .4s;
	font-weight: bolder;
	font-size: medium;
}

input, textarea {
	border-radius: 5px;
	padding: 10px;
	font-family: "Roboto", sans-serif;
}

textarea {
	resize: vertical;
}

input[type="submit"]:hover, #popup-modal button:hover {
	background-color: #0b5b7c;
}

input[type="text"], textarea {
	outline: none;
	border: 1px solid lightgray;
	width: 100%;
	margin: 3px;
}

input[value="Join"] {
	width: 100%;
	padding: 10px;
	margin: 3px;
}

#chatinput {
	display: flex;
	flex-direction: row;
	margin: 15px;
}

/* Username styles */
.c_username {
	font-weight: bold;
}

.c_self {
  	background-color: #edf5d7;
}

/* Sticky portion */
#sticky {
	padding: 15px;
	width: 100%;
	border-bottom: 2px solid lightgray;
	overflow: auto;
	max-height: 40%;
	word-wrap: break-word;
}

/* Main screen */
#chatscreen, #enterscreen {
	margin: 0 auto;
	height: calc(100vh - 40px);
	margin-top: 30px;
}
#chatscreen {
	width: 60%;
	display: flex;
	flex-direction: row;
}
#enterscreen {
	padding-top: 20vh;
	max-width: 30em;
	display: flex;
	flex-direction: column;
}

#enterscreen h1 {
	text-align: center;
	font-size: 2.5em;
}

/* User list + message wrapper */
#msgwrapper, #userList {
	box-shadow: 0px 0px 10px -7px black;
	padding: 20px;
	overflow-x: hidden;
	height: 100%;
	border-top: 10px solid #1b365d;
	margin: 10px;
	border-radius: 2px;
}

#msgwrapper {
	padding: 20px;
	width: calc(100% - 150px);
	position: relative;
	display: flex;
	flex-direction: column;
	overflow-y: hidden;
}
#msgwrapper img {
	max-width: 90%;
}

#userList {
	padding: 10px;
	width: 150px;
}

#userList div {
	padding: 5px;
}

#messages {
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: 0;
	max-height: 100%;
	overflow: auto;
}

#messages div {
	padding: 5px;
	padding-right: 3px;
	padding-left: 15px;
	min-width: 100%;
	word-wrap: break-word;
}

/* MISC */
#info {
	z-index: 2;
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px;
	cursor: pointer;
}

.notification {
	font-style: italic;
	color: gray;
}

#error {
	color: red;
	padding: 5px;
}

/* Mobile */
@media only screen and (max-width: 1000px) {
	#chatscreen {
		width: 90%;
	}
}

@media only screen and (max-width: 700px) {
	#userList {
		display: none;
	}
	#msgwrapper {
		width: 100%;
	}
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: #111;
		color: white;
	}
	#info {
		filter: invert(1);
	}
	input[type="text"], textarea {
		background-color: #111;
		border-color: #333;
		color: white;
	}
	.c_self {
		background-color: #013220;
	}
	#msgwrapper, #userList {
		box-shadow: 0px 0px 10px -7px gray;
	}
}